<!DOCTYPE html>
<md-content flex layout-gt-sm="row" layout-align="center center">

    <div class="md-whiteframe-z2" flex-gt-sm="40">

        <md-toolbar class="md-accent" layout="row" layout-padding>
            <h2>Login</h2>
        </md-toolbar>

        <form name="loginForm" ng-submit="authentication.logUserWithPassword()" no-validate layout-padding>
            <!-- Name -->
            <md-input-container flex>
                <label>Login</label>
                <input type="text" name="login" ng-model="authentication.mail" placeholder="login (email)" flex required autofocus/>
                <div ng-messages="loginForm.login.$error" ng-show="loginForm.login.$dirty && !loginForm.login.$valid">
                    <div ng-message="required"> First Name is required</div>
                </div>
            </md-input-container>

            <!-- Surname -->
            <md-input-container flex>
                <label>Password</label>
                <input type="text" name="password" ng-model="authentication.password" placeholder="Password" flex required/>
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty && !loginForm.password.$valid">
                    <div ng-message="required"> Last Name is required</div>
                </div>
            </md-input-container>

            <!-- Submit button -->
            <div layout flex layout-align="end" layout-margin>
                <md-button type="submit" class="md-raised  md-primary" ng-disabled="loginForm.$invalid" flex="40">Connexion</md-button>
            </div>

            <!-- Sign-up // Forgotten password link -->
            <div layout flex layout-align="end" layout-margin>
                <a ui-sref="data" flex>Forgoten password ?</a>
                <a ui-sref="register" flex>Sign up</a>  
                <a ui-sref="{{authentication.nextState}}" flex>{{authentication.nextState}}</a>             
            </div>

        </form>
    </div>

    <div>

    </div>
</md-content>

